* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Images/loginbg.png');
    /* background-color: rgb(255, 255, 255); */
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 1px 20px rgb(181, 255, 44);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3251ff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2f44bb;
}

a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#backToLogin {
    width: 100%;
    background-color: #ff5722;
}

#backToLogin:hover {
    background-color: #e64a19;
}
